.countLabel{
    display: block;
    text-align: center;
    font-size: 10em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    
}
.buttoncontainer{
    text-align: center;
    margin-top: 20px;
}
.buttons{
    padding: 10px 20px;
    font-size: 1.5em;
    color: black;
    background-color: white;
    cursor: pointer;
    transition: background-color 0.25s;
    border-radius: 10px;
}
.buttons:hover{
    background-color: lightgray;
}
.background{
    background-color: gray;
    height: 100vh;
    padding-top: 50px;
}
